:root{
    --gray: rgb(34, 48, 64);
    --white: rgb(253, 251, 252);
    --green: rgb(8, 215, 108);
    --blue: rgb(8, 122, 253);
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.text-white{
    color: white;
}

.text-black{
    color: black;
}

.padding-text{
    padding: 0 20px;
}

body{
    background-color: #DCDCDC;
}

#header{
    background: #1C1C1C top center / cover no-repeat;
    background-size: 100% 300px;
    background-position: 0 -160px;
    height: 70px;
    position: fixed ;
    right: 0;
    left: 0;
    z-index: 1;
}

.brand_name{
    position: relative;
    left: 1%;
    top: 20px;
    color: var(--white);
}
.first_name{
    font: lighter 2rem Helvetica;
    color: var(--green);
}
.last_name{
    font: bolder 2rem Helvetica;
    color: var(--blue);
    animation: changecolor 1.3s linear;
}
@keyframes changecolor{
    0% {color: var(--red);}
    50%{color: var(--green);}
    100%{color: var(--blue);}
}
/* Nav */
.heading-nav{
    position: relative;
    top: -55px;
    display: inline-block;
    margin-left: 30%;
}

#home{
    color: dodgerblue;
    background-color: #e6e6e6;
    border-radius: 25px;
}

.nav{
    font-size: 20px;
    font-weight: 800px;
}

.nav  li{
    position: relative;
    display: inline-block;
}

.nav > li > a{
    text-decoration: none;
    margin: 0 15px; 
    padding: 10px 15px;
    transition: 0.5s;
}

.subnav{
    position: absolute;
    top: 25px;
    left: 15px;
    border-radius: 3%;
    background-color: white;
    font-size: 14px;
    min-width: 170px;
    box-shadow: 0px 0px 25px #ccc;
    display: none;
}

.subnav li{
    padding: 20px 10px;
    display: block;
}

.subnav li a{
    text-decoration: none;
}

.nav li:hover .subnav{
    display: block;
    animation: subnav_down 0.5s;
}

@keyframes subnav_down{
    0%{
        opacity: 0;
        top: 10px;
        height: 0px;
    }
    100%{
        opacity: 1;
        top: 25px;
        height: 170px;
    }
}

.subnav li:hover a{
    color: rgba(31, 107, 248, 0.69);
}

.nav > li:hover > a{    
    color: var(--blue);
    border-radius: 25px;
    background-color: #e6e6e6;
    box-shadow: 0 0 10px #fff;
    transition: 0.6s;
}

.line{
    background-color:grey;
    height: 3px;
}

/* button */
.heading-button{
    position: relative;
    top: -50%;
    left: 10%;
    display: inline-block;
    font: bolder 2rem Helvetica;
}

.heading-button a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 25px;
    color: var(--white);
    font-size: 17px;
    padding: 15px 15px;
    margin-top: 10px;
    display: block;
    width: 180px;
    overflow: hidden;
    transition: 0.2s;
}
.login:hover{
    letter-spacing: 3px;
    background-color: #e6e6e6;
    box-shadow: 0 0 10px #fff;
    color: rgba(31, 107, 248, 0.69);
    transition-delay: 0.2s;
}


/* Slider */
#slider{
    position: absolute;
    top: 70px;
    background-image: url(../img/Chemistry-BG.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 675px;
}
.text-slide{
    position: absolute;
    top: 15%;
    font: bolder 5rem Helvetica;
}
.first_text_slider{
    position: relative;
    left: 50%;
}
.mid_text_slider{
    position: relative;
    left: 80%;
}
.last_text_slider{
    position: relative;
    left: 60%;
}
.slogan{
    position: relative;
    left: 100%;

    margin-top: 10%; 

    font-family: sans-serif ;
    font: bold 1.5rem cursive;
}
.img-slider{
    position: absolute;
    left: 45%;
    transform: translate(50%, -50%);
    animation: slide-in 2s forwards;
}

@keyframes slide-in {
    from {
        opacity: 0; 
        transform: translateX(100%); 
      }
      to {
        opacity: 1; 
        transform: translateX(0%); 
      }
  }
  
.first_text_slider, .mid_text_slider, .last_text_slider , .slogan{
  opacity: 0; 
  transform: translateX(-100%); 
  animation: text-appear 2s forwards; 
}
@keyframes text-appear {
    from {
      opacity: 0; 
      transform: translateX(-100%); 
    }
    to {
      opacity: 1; 
      transform: translateX(0%); 
    }
  }

/* About */
.about-1{
    position: absolute;
    top: 745px;
    background-color: #ebebeb;
    font-family: sans-serif ;
    width: 100%;
    height: 720px;
}
.about-introduce img{
    position: absolute;
    top: 80px;
    left: 10%;

    /* border: 2px solid black; */
}
.about-introduce h2{
    position: absolute;
    top: 80px;
    left: 27%;
    font: bold 2.5rem cursive;
}
.about-introduce ul {
    position: absolute;
    top: 120px;
    left: 30%;

    font: bold 1.8rem cursive;
}
.about-introduce li{
    margin: 10px;
}
.about-chemical img{
    position: absolute;
    top: 400px;
    left: 75%;
 }
 .about-chemical h2{
    position: absolute;
    top: 450px;
    left: 12%;

    font: bold 2.5rem cursive;
 }
.about-chemical p{
    position: absolute;
    top: 500px;
    left: 12%;

    font: bold 1.8rem cursive;
}
.about-chemical a{
    position: absolute;
    top: 570px;
    left: 65%;

    padding: 10px;
    font-family: sans-serif ;
    font: bold 1.5rem cursive;
    text-decoration: none;
    color: black;

    border: 2px solid black;
    border-radius: 25px;
    transition: .2s ease-in-out;
}
.about-2{
    position: absolute;
    top: 1465px;
    background-color: #1874CD;
    color: #fff;
    width: 100%;
    height: 1000px;
}
.about-CR img{
    position: absolute;
    top: 40px;
    left: 10%;
}
.about-CR h2{
    position: absolute;
    top: 60px;
    left: 27%;

    font: bold 2.5rem cursive;
}
.about-CR p {
    position: absolute;
    top: 120px;
    left: 30%;

    font: bold 1.8rem cursive;
}
.about-CR a{
    position: absolute;
    top: 170px;
    left: 32%;

    padding: 10px;
    font-family: sans-serif ;
    font: bold 1.5rem cursive;
    text-decoration: none;
    color: #fff;

    border: 2px solid white;
    border-radius: 25px;
    transition: .2s ease-in-out;
}
.about-Course img{
    position: absolute;
    top: 370px;
    left: 75%;
}
.about-Course h2{
    position: absolute;
    top: 390px;
    left: 12%;

    font: bold 2.5rem cursive;
}
.about-Course p{
    position: absolute;
    top: 450px;
    left: 12%;

    font: bold 1.8rem cursive;
}
.about-Course a{
    position: absolute;
    top: 550px;
    left: 65%;

    padding: 10px;
    font-family: sans-serif ;
    font: bold 1.5rem cursive;
    text-decoration: none;
    color: #fff;

    border: 2px solid white;
    border-radius: 25px;
    transition: .2s ease-in-out;
}
.about-TOTE img{
    position: absolute;
    top: 670px;
    left: 10%;
}
.about-TOTE h2{
    position: absolute;
    top: 770px;
    left: 27%;
}
.about-TOTE a{
    position: absolute;
    top: 760px;
    left: 64%;

    padding: 10px;
    font-family: sans-serif ;
    text-decoration: none;
    color: #fff;

    border: 2px solid white;
    border-radius: 25px;
    transition: .2s ease-in-out;
}
.about-TOTE h2, .about-TOTE a{
    font: bold 2.5rem cursive;
}
.about-chemical a:hover, .about-CR a:hover, .about-Course a:hover, .about-TOTE a:hover{
    letter-spacing: 2px;
    background-color: #4EEE94;
}

/* Footer */
#footer{
    position: absolute;
    top: 2465px;

    background-color: #1C1C1C;
    width: 100%;
    height: 300px;
    padding: 50px 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
#footer ul{
    list-style: none;
}
.fcol {
    width: 25%;
    padding: 0 90px;
}
#footer h3{
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 500;
    position: relative;
}
.fcol ul li, .fcol ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: #ffffff; 
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    padding: 2px;
}
.fcol ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.fcol .social_links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    /* background-color: rgba(31, 107, 248, 0.69); */
    margin: 0 30px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.fcol .social_links .facebook{
    background-color: #4267B2;
}
.fcol .social_links .youtube{
    background-color: #ff0000;
}
.fcol .social_links .ins{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.fcol .social_links .twitter{
    background-color: #1da1f2;
}